<div id="wrapper">
	
	<!-- start header -->
	<header>
		<%= render partial: "header" %>
	</header>
	<!-- end header -->

	<!-- Slider -->
	 <%= render partial: "slider" %>
	<!-- end slider -->


	<section class="heroText">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="text-center"><h1>Services Are</h1><span class="clear spacer_responsive_hide_mobile " style="height:10px;display:block;"></span>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container">
			<div class="row">
				<div class="skill-home"> 
					<div class="skill-home-solid clearfix"> 

						<div class="col-md-4">
							<span class="icons c1"><i class="fa fa-trophy"></i></span>
							<div class="box-area">
								<h3>Mushroom Tissue Culture & Spawn Production</h3> 
								<p>Spawn is the vegetative mycelium from a selected mushroom grown on a convenient medium like wheat, pearl millet, sorghum, etc for raising mushroom  crop.</p>
								<p>High quality and best Range of Spawn and 2500 to 3000  KG Spawn produced every months, Sales over differnet regions in India.</p>
						  </div>
						</div>

						<div class="col-md-4"> 
							<span class="icons c2"><i class="fa fa-picture-o"></i></span>
							<div class="box-area">
								<h3>Mushroom Farming & Sales</h3> 
								<p>Thousands of mushroom growers have benefited over the years from the support of KnTBio Tech. Regardless of mushroom species or farming methods
								</p>
								<p>On-farm visits may vary from a quick scan on crop performance to a detailed analysis of airing or watering protocols used on the farm</p>
							</div>
						</div>

						<div class="col-md-4"> 
							<span class="icons c4"><i class="fa fa-globe"></i></span>
							<div class="box-area">
								<h3>BioTech Consultancy Servies</h3>
								<p>Helping our clients through consultancy services and advice has always been a fundamental part of our business philosophy. We are here to help you achieve the maximum result from your operations.
								</p>
								<p>KnTBio customers enjoy unrivalled technical support in composting and Spwan and mushroom growing.</p>
							</div>
						</div>

					</div>
				</div>
			</div> 
		</div>
	</section>


	<section id="content">
	 <div class="container">
	<!-- Portfolio Projects -->
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
					<h2 class="heading">Our strains</h2>
				</div>
				<div class="row">
					<section id="projects">
					<ul id="thumbs" class="portfolio">
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->

						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="assets/welcome/works/1.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb">
						 
						<h5>Oyster Mashroom</h5> <p>We produce the Oyster Mashroom hevaly</p> <i class="icon-info-blocks fa fa-search"></i>  
						 
						</span>
						</a>
						<!-- Thumb Image and Description -->
						<%= image_tag "welcome/works/1.jpg", alt: "" %>
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="assets/welcome/works/2.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><h5>Spawn</h5> <p>We mainly produce the Mashroom Spawn</p> <i class="icon-info-blocks fa fa-search"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<%= image_tag "welcome/works/2.jpg", alt: "" %>
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="graphic">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="assets/welcome/works/3.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><h5>Button Mashroom</h5> <p>Farming the button mashrrom and Consultance</p> <i class="icon-info-blocks fa fa-search"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<%= image_tag "welcome/works/3.jpg", alt: "" %>
						</li>
						<li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="assets/welcome/works//4.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb"><h5>Pink Osyter</h5> <p>Osyter Mashroom farming</p> <i class="icon-info-blocks fa fa-search"></i></span>
						</a>
						<!-- Thumb Image and Description -->
						<%= image_tag "welcome/works/4.jpg", alt: "" %>
						</li>
					</ul>
					</section>
				</div>
			</div>
			</div>
		</div>
	
	</section>
	<div class="testimonial-area">
    <div class="testimonial-solid">
        <div class="container">
            <div class="testi-icon-area">
                <div class="quote">
                    <i class="fa fa-microphone"></i>
                </div>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="active">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" class="">
                        <a href="#"></a>
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <p>Whether it’s our global presence, the decades of spawn making expertise or the scale of our operations, here at KntBio we pride ourselves on our dedication to the global mushroom industry.</p>
                    </div>
                    <div class="item">
                        <p>The unique combination of cultivation knowledge and our premium quality products ensures we help mushroom growers around the globe maximise the value of their crops.</p>
                    </div>
                    <div class="item active">
                        <p>KntBio customers can expect all spawns to have undergone the strictest testing procedures to deliver the most consistent, reliable and predictable results in the industry.</p>
                    </div>
                    <div class="item">
                        <p>KnTBio's dedicated quality assurance teams are responsible for continually testing and verifying the viability of our products. KntBio checks every mother culture and every batch of inoculum before production of the final product.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	
	
  <%= render partial: "footer" %>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>